@model List<MVC_Assignment1.Models.Classes.Course>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>COURSES</h1>
        </div>
        <div class="col-md-8">
            @if (Model.Any())
            {
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="info">
                                <th>
                                    Course Name
                                </th>
                                <th>
                                    Number Of Hours
                                </th>
                                <th>
                                    Number Of Enrollments
                                </th>
                                <th>
                                    View Details
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var course in Model)
                            {
                                <tr>
                                    <td>
                                        @course.Name
                                    </td>
                                    <td>
                                        @course.NumberOfHours
                                    </td>
                                    <td>
                                        @course.Users.Count()
                                    </td>
                                    <td>
                                        @Html.ActionLink("Details", "CourseDetails", "Home", new { id = course.Id }, null)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <h3>No Couses Available Yet.</h3>
            }
        </div>
    </div>
</div>
